---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_client_provisioner_namespace }}
spec:
  accessModes:
    - {{ nfs_client_provisioner_storageclass.accessModes }}
  volumeMode: Filesystem
  storageClassName: ""
  selector:
    matchLabels:
      nfs-client-provisioner: nfs-client-provisioner
  resources:
    requests:
      storage: {{ nfs_client_provisioner_storageclass.storageSize }}
