---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: psp:nfs-client-provisioner
  namespace: {{ nfs_client_provisioner_namespace }}
rules:
- apiGroups:      ['extensions']
  resources:      ['podsecuritypolicies']
  verbs:          ['use']
  resourceNames:  ['nfs-client-provisioner']