---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: psp:leader-locking-nfs-client-provisioner
  namespace: {{ nfs_client_provisioner_namespace }}
rules:
  - apiGroups:      ['extensions']
    resources:      ['podsecuritypolicies']
    verbs:          ['use']
    resourceNames:  ['nfs-client-provisioner']